[Install]
WantedBy=multi-user.target

[Unit]
Description=Doorduino voor %I

[Service]
WorkingDirectory=/home/pi/doorduino
User=pi
ExecStart=/home/pi/doorduino/doorduino.pl %I
Restart=always
RestartSec=2
